@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  /* background-color: #2e2b63 !important; */
  background: #2e2b63 !important;
  background: linear-gradient(
    90deg,
    #504c8b 0%,
    rgb(222, 130, 167) 100%
  ) !important;
}
.navbar .navbar-brand {
  color: #fff !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar .navbar-toggler-icon {
  color: #fff !important;
}
.navbar button:focus {
  color: #fff !important;
}
.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-item a:hover {
  border-radius: 10px/30px;
  color: #fff !important;
  background: linear-gradient(
    90deg,
    rgba(87, 173, 191, 1) 0%,
    rgb(121, 141, 197) 100%
  );
  /* background-color: #F9E4D4 !important ; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.navbar .active {
  border-radius: 10px/30px;
  background-color: #c3d1da !important ;
  color: #0c243c !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
