.listing-container {
  margin: 10% 10%;
}
.listing-container-col1 img {
  width: 100%;
  height: 400px;
}

.listing-container-col2 {
  border-left: 5px solid #470d21;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.listing-container-col2 h3 {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
}

/* media query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .listing-container {
    margin-top: 10px;
    padding: 0x;
  }
  .listing-container-col2 {
    border-left: none;
    margin-left: 10px;
    margin-top: 30px;
  }
}
